
.menu-link-margin {
    margin:9px
}

.profile-name-position {
    top:100px;
}

.contact-position {
    position:absolute;
    top: 140px;
}

.contact-description-position {
    position:absolute;
    top: 180px;
}

.biography-position {
    position:absolute;
    top:220px;
}

.biography-text-position {
    position:relative;
    bottom:80px
}

.link-position {
    position:relative;
    bottom: 80px;
}

.link-text-position {
    position: relative;
    bottom:100px;
}

.edit-button-dimensions {
    width:100px;
    height:80px;
}

.profile-name-input-position {
    top:100px;
}

.profile-pronouns-input-position {
    top:160px
}

.profile-title-input-position {
    top:180px
}

.edit-contact-position {
    top: 240px;
}

.edit-contact-description-position {
    top: 280px;
}

.edit-biography-position {
    top:25px;
}

.edit-biography-text-position {
    top:25px;
}

.edit-link-position {
    top:25px;
}

.save-cancel-buttons-position {
    top:50px;
}
