.sidebar-width {
    width:80px;
}


.selected-icon {
    color:gray;
}
.unselected-icon {
    color:tomato;
}

.home-margin {
    margin:8px;
}

.home-link-padding {
    padding:8px;
}

.icon-position-in-sidebar {
    position: relative;
    left: 35px;
}

.link-position-in-sidebar-small-nudge {
    position: relative;
    left: 10px;
}

.link-position-in-sidebar-medium-nudge {
    position: relative;
    left: 20px;
}

.link-position-in-sidebar-large-nudge {
    position: relative;
    left: 25px;
}

.sidemenu-width {
    width: 195px;
}

.selected-menu-option-border {
    border-left: 5px solid;
    padding-left: 9px;
}

